/* Reset básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: flex-end;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #B0BAC3;
	color: #333;
}

.container {
	display: flex;
	position: relative;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	border-top-left-radius: 25px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 0px;
	height: 100vh;
	width: 58%;
	gap: 3rem;
	background-color: #f0ebe1;
	.inputs {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		p {
			align-self: flex-start;
			padding-left: 12%;
			color: #7c838a;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
	.title {
		color: #000;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-align: center;
	}
	input {
		border-radius: 20px;
		padding-left: 20px;
		border: none;
		background-color: #b0bac366;
		width: 80%;
		height: 65px;
		color: rgba(0, 0, 0, 0.5);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.btnSignIn {
		width: 40%;
		max-width: 340px;
		height: 60px;
		flex-shrink: 0;
		border-radius: 10px;
		border: none;
		background-color: #f0c589;
		color: #000;
		text-align: center;
		font-size: 26px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		cursor: pointer;
	}
}
.imageRegister{
	position: absolute;
	top: 20%;
	left: 10%;
	height: 603px;
	width: 419px;
	z-index: 0;
}
.bubble1{
	position: absolute;
	top: 20%;
	left: 0;
	height: 607px;
	width: 530px;
	z-index: -2;
}
.bubble2{
	position: absolute;
	top: 50%;
	left: 10%;
	height: 469px;
	width: 550px;
	z-index: -1;
}
.bubble3{
	position: absolute;
	top: 10%;
	left: 10%;
	height: 661px;
	width: 526px;
	z-index: -3;
}