{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/cadastro.css' %}"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Cadastro</title>
    </head>
    <body>
        <form
            class="container"
            action="/cadastro/"
            method="POST">{% csrf_token %}
            <p class="title">Registre-se gratuitamente!</p>
            <div class="inputs">
                <p>Nome completo</p>
                <input type="text" name="nome" placeholder="Ex: João Souza Melo" />
            </div>
            <div class="inputs">
                <p>Email</p>
                <input type="email" name="email" placeholder="Ex: joao@gmail.com" />
            </div>
            <div class="inputs">
                <p>Senha</p>
                <input type="password" name="senha" placeholder="Ex: 12313$gxy" />
            </div>
            <button class="btnSignIn">Criar conta</button>
            <p>
                Já possui conta? 
                <a href="/login/" style="text-decoration: none; color: #FF6653;">
                    Faça seu login!
                </a>
            </p>
        </form>
        <img class="imageRegister" src="{% static 'imagens/imageRegister.png' %}"/>
        <img class="bubble1" src="{% static 'imagens/bubble1.png' %}"/>
        <img class="bubble2" src="{% static 'imagens/bubble2.png' %}"/>
        <img class="bubble3" src="{% static 'imagens/bubble3.png' %}"/>
    </body>
</html>