{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <form class="container" action="/login/" method="POST">{% csrf_token %}
        <p class="title">Faça seu login e confira nossas receitas</p>
        <div class="inputs">
            <p>Email</p>
            <input type="email" name="email" placeholder="Ex: joao@gmail.com" />
        </div>
        <div class="inputs">
            <p>Senha</p>
            <input type="password" name="senha" placeholder="Ex: 12313$gxy" />
        </div>
        <button class="btnSignIn">Entrar</button>
        <p>
            Não tem uma conta? 
            <a href="/cadastro/" style="color: #FF6653; text-decoration: none;">
                Registre-se!
            </a>
        </p>
    </form>
    <img class="imageLogin" src="{% static 'imagens/imageLogin.png' %}"/>
    <img class="bubble1" src="{% static 'imagens/bubble1.png' %}"/>
    <img class="bubble2" src="{% static 'imagens/bubble2.png' %}"/>
    <img class="bubble3" src="{% static 'imagens/bubble3.png' %}"/>
</body>
</html>
